/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

.itemContainer{
    order: 1;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    min-width: 300px;
}

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 70vh;
    overflow: auto;
    background-color: lightgray;
    margin: 5vh;
    padding: 50px;
}

pre {
    background-color: white;
    padding: 5px;
}

.close {
    color: white;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 28px;
    font-weight: bold;
}

.item {
    margin: 2px;
    position: relative;
    cursor: pointer;
}

.part1 {
    position: absolute;
    top: 0%;
    height: 50%;
    width: 100%;
    z-index: -1;
}
.part2 {
    position: absolute;
    top: 50%;
    height: 50%;
    width: 100%;
    z-index: -1;
}
.part3 {
    padding: 4px;
}

.retCode_0 {
    background-color: lightgreen;
}
.retCode_1 {
    background-color: lightcoral;
}
.retCode_2 {
    background-color: yellow;
}
.retCode_9 {
    background-color: lightgray;
}